<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>routing and rendering</title>
    <style>
        table, th, td {
            border: 1px solid white;
            border-collapse: collapse;
        }
        th{
            background-color: #96D4D4;
            padding: 10px;
            text-align: center;
        }
        td {
            background-color: #96D4D4;
            padding: 10px;
        }
    </style>
</head>
<body>
    <% if @name %>
      <table>
          <tr>
              <th>Item Name</th>
              <td><%= @name %></td>
          </tr>
          <tr>
            <th>Category</th>
            <td><%= @category %></td>
          </tr>
          <tr>
            <th>Price</th>
            <td>Rp.<%= @price %></td>
          </tr>
      </table>
    <% else %>
      <h1>Belum isi </h1>
    <% end %>


</body>
</html>